DB_HOST=127.0.0.1
DB_USER=@your-db-user
DB_NAME=@name-of-your-db
DB_PASSWORD=@your-db-password

DATABASE_URL="postgresql://@your-db-user:@your-db-password@localhost:5432/@name-of-your-db?schema=public"

## Generate this with `openssl rand -base64 32` in git bash preferably
AUTH_SECRET=mLeCJhmTEPChnrm+QxKwNHR22JDMybwTw5rV+In+MQc=